[Unit]
Description=My Node.js Web Application
After=network.target

[Service]
ExecStart=/usr/bin/node /var/www/webapp/index.js
Restart=on-failure
RestartSec=10
User=csye6225
Group=csye6225
EnvironmentFile=/var/www/webapp/.env
WorkingDirectory=/var/www/webapp
StandardOutput=journal
StandardError=journal
SyslogIdentifier=webapp
StartLimitIntervalSec=500
StartLimitBurst=5
[Install]
WantedBy=multi-user.target
